<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/userDashboard.css">
    <title>Login</title>
</head>

<body>
    <div class="user-page">
        <div class="form">
            <form class="user-form" action="/user/logout" method="GET" onsubmit="return confirmLogout()">
                <h3>Welcome <%=locals.userName%></h3>
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

    <script>
        function confirmLogout() {
            return confirm("Are you sure you want to logout?");
        }
    </script>
</body>

</html>
